<div class="container">
  <div class="row">
    <h3>Instructors</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @admins.each do |a| %>
            <tr>
              <%= render a %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
