<% if admin_signed_in? %>
<h1>Your Evalutions</h1>
<%= @feedback.each do |f| %>
    <%= f.eval %>
    <% end %>
<% else %>
<%= button_to "Evaluate Me", new_feedback_path, :class => "button medium", :method => :get %>
<% end %>
 