<div class="container">
  <div class="row">
    <h3>Teaching Assistants</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @teaching_assistants.each do |t| %>
            <tr>
              <%= render t %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>