<%# add navigation links to this file %>
<% if student_signed_in? %>
  <li><%= link_to 'Edit Your Profile',edit_student_registration_path  %></li>
  <li><%= link_to 'Log Out', destroy_student_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Log In', new_student_session_path %></li>
  <li><%= link_to 'Join Evaluate.Me', new_student_registration_path %></li>
<% end %>